<a href="https://colab.research.google.com/github/prasenjeet/docker-react/blob/master/ListComprehension-NestedLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = []
for i in numbers:
    if i % 2==0:
        even_list.append(i**2)
print(even_list)

[4, 16, 36, 64, 100]

In [2]:
even_list = [i**2  for i in numbers if i %2 ==0  ]
even_list

[4, 16, 36, 64, 100]

In [3]:
for x in range(4,6):
    for y in range(1,11):
        print('{} * {} = {}'.format(x,y,x*y))

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [4]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [5]:
for i in range(10, 0, -2):
    print(i)

10
8
6
4
2

In [6]:
i = 3
while True:
    print(i)
    i = i +1
    if i >=7:
        break

3
4
5
6

In [7]:
names = ['sam', 'kate','aj', 'moen','john']
i = 0
while i < len(names):
    name = names[i]
    i += 1

    if name == 'kate':
        continue

    print(name)

sam
aj
moen
john

In [9]:

for x in range(1, 11):
    print('{} {} {}'.format(x, x*x, x*x*x))

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [10]:
min = int(input('lower limit: '))
max = int(input('upper limit: '))
for i in range(min,max):
    if i % 2 == 0:
        print(i)

lower limit: 10
upper limit: 20
10
12
14
16
18

In [11]:
import string
import random
password_char = string.ascii_letters + string.punctuation + string.digits
length = int(input('Enter the length of the password: '))
password = ""
for i in range(0, length):
    password = password + random.choice(password_char)
print(password)

Enter the length of the password: 15
ZJydLVECp:eXW^d

In [14]:
id_matrix = [[1,0,0],
             [0,1,0],
             [0,0,1]]

vector_version = [n for row in id_matrix for n in row]
vector_version

[1, 0, 0, 0, 1, 0, 0, 0, 1]

In [16]:
def num_object(k):
  return {'number':k, 'double':2*k}

many_instances = [num_object(k) for k in range(20)]
many_instances

[{'number': 0, 'double': 0},
 {'number': 1, 'double': 2},
 {'number': 2, 'double': 4},
 {'number': 3, 'double': 6},
 {'number': 4, 'double': 8},
 {'number': 5, 'double': 10},
 {'number': 6, 'double': 12},
 {'number': 7, 'double': 14},
 {'number': 8, 'double': 16},
 {'number': 9, 'double': 18},
 {'number': 10, 'double': 20},
 {'number': 11, 'double': 22},
 {'number': 12, 'double': 24},
 {'number': 13, 'double': 26},
 {'number': 14, 'double': 28},
 {'number': 15, 'double': 30},
 {'number': 16, 'double': 32},
 {'number': 17, 'double': 34},
 {'number': 18, 'double': 36},
 {'number': 19, 'double': 38}]

In [18]:
string_first_100 = [str(k) for k in range(100)]

single_string = ', '.join( [str(k) for k in range(100)] )
single_string

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99'

In [19]:
import time

BIG = 20000000

def f(k):
    return 2*k

def list_a():
    list_a = []
    for i in range(BIG):
        list_a.append(f(i))

def list_b():
    list_b = [f(i) for i in range(BIG)]

def list_a_filtered():
    list_a = []
    for i in range(BIG):
        if i%2==0:
            list_a.append(f(i))

def list_b_filtered():
    list_b = [f(i) for i in range(BIG) if i%2==0]

def benchmark(function, function_name):
    start = time.time()
    function()
    end = time.time()
    print("{0} seconds for {1}".format((end - start), function_name))

benchmark(list_a, "list a")
benchmark(list_b, "list b")
benchmark(list_a_filtered, "filtered list a")
benchmark(list_b_filtered, "filtered list b")

3.797163486480713 seconds for list a
3.4551236629486084 seconds for list b
4.290605545043945 seconds for filtered list a
3.8734891414642334 seconds for filtered list b

In [22]:
dict_of_doubles = {
                   str(k) : 2*k for k in range(100)
                  }

dict_of_multiples_of_4 = {
                   str(k) : 2*k for k in range(100) if k%2==0
                  }
print(dict_of_doubles)
print(dict_of_multiples_of_4)

{'0': 0, '1': 2, '2': 4, '3': 6, '4': 8, '5': 10, '6': 12, '7': 14, '8': 16, '9': 18, '10': 20, '11': 22, '12': 24, '13': 26, '14': 28, '15': 30, '16': 32, '17': 34, '18': 36, '19': 38, '20': 40, '21': 42, '22': 44, '23': 46, '24': 48, '25': 50, '26': 52, '27': 54, '28': 56, '29': 58, '30': 60, '31': 62, '32': 64, '33': 66, '34': 68, '35': 70, '36': 72, '37': 74, '38': 76, '39': 78, '40': 80, '41': 82, '42': 84, '43': 86, '44': 88, '45': 90, '46': 92, '47': 94, '48': 96, '49': 98, '50': 100, '51': 102, '52': 104, '53': 106, '54': 108, '55': 110, '56': 112, '57': 114, '58': 116, '59': 118, '60': 120, '61': 122, '62': 124, '63': 126, '64': 128, '65': 130, '66': 132, '67': 134, '68': 136, '69': 138, '70': 140, '71': 142, '72': 144, '73': 146, '74': 148, '75': 150, '76': 152, '77': 154, '78': 156, '79': 158, '80': 160, '81': 162, '82': 164, '83': 166, '84': 168, '85': 170, '86': 172, '87': 174, '88': 176, '89': 178, '90': 180, '91': 182, '92': 184, '93': 186, '94': 188, '95': 190, '96': 192, '97': 194, '98': 196, '99': 198}
{'0': 0, '2': 4, '4': 8, '6': 12, '8': 16, '10': 20, '12': 24, '14': 28, '16': 32, '18': 36, '20': 40, '22': 44, '24': 48, '26': 52, '28': 56, '30': 60, '32': 64, '34': 68, '36': 72, '38': 76, '40': 80, '42': 84, '44': 88, '46': 92, '48': 96, '50': 100, '52': 104, '54': 108, '56': 112, '58': 116, '60': 120, '62': 124, '64': 128, '66': 132, '68': 136, '70': 140, '72': 144, '74': 148, '76': 152, '78': 156, '80': 160, '82': 164, '84': 168, '86': 172, '88': 176, '90': 180, '92': 184, '94': 188, '96': 192, '98': 196}